.favorite-btn {
  background-color: var(--white-color);
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
  display: grid;
  place-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.favorite-btn:hover {
  transform: scale(1.08);
}

.favorite-btn:active {
  transform: scale(0.95);
}

.favorite-btn img {
  width: 2.3rem;
}
